html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter var, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

/* a {
  color: inherit;
  text-decoration: none;
} */

*,
*:before,
*:after {
  box-sizing: inherit;
}

#__next,
#__next > div {
  height: 100%;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-10px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

a {
  color: #4183c4;
  text-decoration: none;
  transition: color 0.1s ease;
}

a:hover {
  color: #f1773c;
}
/* 
input[type="text"],
textarea {
  transition: all 0.3s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

input[type="text"]:focus,
textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
} */

input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}

input:focus {
  border: 1px solid #ffc7ad;
}

.post-content,
.page-content {
  position: relative;
  color: #5d686f;
  font-size: 1.2em;
  line-height: 1.4em;
  /* $nest: {
    img: {
      maxWidth: "100%",
      marginTop: 20,
      marginBottom: 20,
      boxShadow: "0px 0px 10px #bbb !important",
    },
    h1: {
      //fontSize: "1em",
    },
  }, */
}

/* .post-content img {
  width: 300px;
  height: 500px;
} */

.page-content {
  width: 700px;
}

/* .page-content * {
  font-size: 2em;
} */

.navbar-title a {
  color: #5d686f;
}
