html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter var, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

/* a {
  color: inherit;
  text-decoration: none;
} */

*,
*:before,
*:after {
  box-sizing: inherit;
}
