html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-wrap: break-word;
  font-family: Inter var, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* a {
  color: inherit;
  text-decoration: none;
} */

*,
*:before,
*:after {
  box-sizing: inherit;
}

#__next,
#__next > div {
  height: 100%;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-10px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

a {
  color: #4183c4;
  text-decoration: none;
  transition: color 0.1s ease;
}

a:hover {
  color: #f1773c;
}
/* 
input[type="text"],
textarea {
  transition: all 0.3s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

input[type="text"]:focus,
textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
} */

input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}

input:focus {
  border: 1px solid #ffc7ad;
}

.markdown-content {
  width: 700px;
}

.markdown-content {
  position: relative;
  color: #5d686f;
  font-size: 1.15em;
  line-height: 1.4em;
  width: 100%;
}

.markdown-content img {
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 20px rgb(224, 224, 224);
  border: 1px solid rgb(230, 229, 229);
  text-align: center;
}

.markdown-content iframe {
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/* .post-content img {
  width: 300px;
  height: 500px;
} */

/* .page-content * {
  font-size: 2em;
} */

.navbar-title a {
  color: #5d686f;
}

.post-header {
  object-fit: cover;
}
